USE [master]
GO
/****** Object:  Database [mavha]    Script Date: 27/5/2019 18:42:41 ******/
CREATE DATABASE [mavha]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mavha', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\mavha.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mavha_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\mavha_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mavha].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mavha]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 27/5/2019 18:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[IsDone] [bit] NOT NULL,
	[Attachment] [varchar](max) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([ID], [Description], [IsDone], [Attachment]) VALUES (1, N'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 0, N'/App_Data/file-201905271743184625.doc')
INSERT [dbo].[Tasks] ([ID], [Description], [IsDone], [Attachment]) VALUES (2, N'Nam scelerisque magna id sapien commodo mollis.', 0, N'/App_Data/file-201905271743184625.doc')
INSERT [dbo].[Tasks] ([ID], [Description], [IsDone], [Attachment]) VALUES (3, N'Donec eu ante vitae eros auctor auctor vestibulum ut elit.', 1, N'/App_Data/file-201905271743184625.doc')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
USE [master]
GO
